<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <meta content=<%=content%> property="og:description">
    <meta content="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png" property="og:image">
    <meta name="theme-color" content="#4B5F81">
    <link type="application/json+oembed" href="https://EmbedMarker.fweak.repl.co/embedAdd?description=<%=content%>">
</head>

<body>
    OK
</body>

</html>